
@media (min-width: 250px) and (max-width: 575px) {

    /* ***** header ***** */
    .logo {
        height: 110px;
    }

    .navbar {
        font-size: medium;
    }

    .nav-link {
        margin: 5px 0px 5px 25px;
        padding: 10px;
    }


    /* ***** main index ***** */
    .artist__content {
        font-size: medium;
    }


    /* ***** footer ***** */
    .footer {
        font-size: 0.8em;
    }

    .fa-brands {
        margin-bottom: 35px;
    }

    .mapa__responsive iframe {
        width: 70%;
        height: auto;
        margin-bottom: 25px;
    }

    .socialBar h5 {
        font-size: medium;
        margin-top: -60px;
    }

    .mapa h5 {
        font-size: medium;
    }

    .copyright h6 {
        font-size: small;
    }

    .bi-arrow-up-circle {
        padding: 15px;
        margin: 5px;
    }


    /* ***** main music&video ***** */
    .musicAndVideo__titulo {
        font-size: xx-large;
    }

    .carousel {
        margin: 10px;
    }

    .container .notCarousel {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .notCarousel {
        margin: 30px;
    }

    .musicAndVideo__spotify {
        width: 70%;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }


    /* ***** main tour ***** */
    
    .tour__title {
        font-size: xx-large;
    }
}


@media (min-width: 576px) and (max-width: 767px) {

    /* ***** header ***** */
    .navbar {
        font-size: large;
    }


    /* ***** footer ***** */
    .footer {
        font-size: 0.9em;
    }

    .fa-brands {
        margin-bottom: 30px;
    }

    .mapa__responsive iframe {
        width: 80%;
        height: auto;
        margin-bottom: 25px;
    }

    .socialBar h5 {
        font-size: medium;
        margin-top: -60px;
    }

    .mapa h5 {
        font-size: medium;
    }

    .copyright h6 {
        font-size: small;
    }

    .bi-arrow-up-circle {
        padding: 10px;
        margin: 5px;
    }


    /* ***** main music&video ***** */
    .musicAndVideo__titulo {
        font-size: xx-large;
    }

    .carousel {
        margin: 10px;
    }

    .container .notCarousel {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .notCarousel {
        margin: 30px;
    }

    .musicAndVideo__spotify {
        width: 40%;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    /* ***** header ***** */
    .navbar {
        font-size: larger;
    }


    /* ***** footer ***** */
    .footer {
        font-size: 1em;
    }

    .mapa__responsive iframe {
        width: 90%;
        margin-bottom: 15px;
    }

    .socialBar h5 {
        font-size: large;
        margin-top: -70px;
    }

    .mapa h5 {
        font-size: large;
        margin-top: -70px;
    }

    .copyright h6 {
        font-size: medium;
    }

    .bi-arrow-up-circle {
        padding: 20px;
        margin: 5px;
    }


    /* ***** main music&video ***** */
    .carousel {
        margin: 20px;
    }

    /* ***** main music&video ***** */
    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }
}