* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}




/* ******************CSS header****************** */

.logo {
    width: 60px;
    margin: 20px;
}

.navbar {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.966);
    font-size: 1.6rem;
}

.nav-link {
    margin: 20px;
    padding: 10px;
}

 


/* ******************CSS main index****************** */

.artist {
    min-height: auto;
}
.artist video {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    z-index: -1;
}

.artist img {
    max-width: 100%;
    height: auto;
    opacity: 96%;
}

.artist__presentation {
    margin: 50px;
    justify-items: center;
    align-items: center;
}

.artist__content {
    color: #f0f0f0;
    background-color: #302e2eaf;
    box-shadow: 0px 5px 15px #0c0c0c;
    justify-items: center;
    min-width: fit-content;
    padding: 15px;
    display: grid;
    font-size: large;
}

.typing-demo {
    width: 45ch;
    animation: typing 2.5s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: monospace;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

.artist__content .btn a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.2em;
}

.artist__content h3 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    text-align: center;
    align-self: center;
}

.artist__content h1{
    font-size: 3em;
}

.artist__content p {
    font-family: 'Noto Serif Display', serif;
    font-size:1.3em;
    text-align: center;
}




/* ******************CSS footer****************** */

.footer {
    background-color: #1e1e20ff;
    color: #f0f0f0;
    font-size: 1.1em;
    padding: 20px;
    width: 100%;
    bottom: 0;

}

.bi {
    font-size: 2em;
    letter-spacing: 15px;
    transition: all .4s ease-in-out;
}

.mapa__responsive iframe {
    width: 100%;
    height: auto;
}

.bi-arrow-up-circle {
    float: right;
}




/* ******************CSS main music&video****************** */

.musicAndVideo__titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 3.7rem;
    margin: 60px 10px 15px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.966);
}

.musicAndVideo {
    background-image: url(../img/fondo.jpg);
    width: 100%;
    background-position: center top;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}

.carousel {
    margin: 60px;
}




/* ******************CSS main tour****************** */

.tour__title {
    font-family: 'Oswald', sans-serif;
    font-size: 3.7rem;
    margin: 70px 10px 20px 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}

.tour__nav ul li a {
    color: #33313b;
    font-size: 1.4rem;
    padding: 5px;
}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.parallax-caption {
	color:rgb(231, 231, 231);
	font-weight: 900;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%;
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
}

.tour__content div {
    transition: all .5s ease-in-out;
}

.tour__content .parallax:hover {
    filter: opacity(0.77); 
}
.img-one {
    background-image: url(../img/europe.jpg);
}

.img-two {
    background-image: url(../img/asia.jpg);
}

.img-three {
    background-image: url(../img/oceania.jpg);
}

.img-four {
    background-image: url(../img/northamerica.jpg);
}

.img-five {
    background-image: url(../img/southamerica.jpg);
}

.container table{
    margin: 50px 0px 100px 0px;
}




/* ******************CSS main bio****************** */

.biografia {
    background-image: url(../img/blackandred.jpg);
    width: 100%;
    background-position: center top;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.biografia__titulo {
    color: #f0f0f0;
    text-align: center;
    font-size: 3.7rem;
}

.container p {
    color: #f0f0f0;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 1.1rem;
    padding: 20px;
    align-self: center;
}

.container img {
    padding: 25px;
}




/* ******************CSS main merch****************** */
.construction {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}




/* ********************CSS main contact******************** */

.contact {
    background-image: url(../img/contactus.jpg);
    width: 100%;
    height: auto;
    background-position: center top;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact__title {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    margin: 0px 10px;
    color: #1f1e22;
}

.container form {
    margin: 5px 10px 70px 10px;
}

.container label {
    font-size: 1.5rem;
    color: #1f1e22;
}

.contact-buttons {
    display: flex;
    justify-content: center;
}

.contact-buttons .btn{
    margin: 10px 25px;
}
