@media (max-width: 350px) {
    /* ***** header ***** */
    .navbar-nav {
        font-size: $fs-navbar-s;
    }

    .nav-link {
        margin: 5px 0px 5px 25px;
        padding: 10px;
    }

    .navbar-brand img {
        height: 6rem;
    }


    /* ***** main titles ***** */
    main h1 {
        font-size: $fs-title-xs;
    }


    /* ***** main index ***** */
    .artist {
        height: 85vh;

        .videobg {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .artist__presentation img {
        margin-bottom: 35px;
    }


    /* ***** footer ***** */
    footer {
        .fa-brands {
            font-size: $fs-icons-s;
            margin-bottom: 25px;
        }

        .map__responsive iframe {
            width: 70%;
            height: auto;
            margin-bottom: 25px;
        }
    
        .socialBar h5 {
            font-size: $fs-footer-m;
        }
    
        .map h5 {
            font-size: $fs-footer-m;
        }
    
        .copyright h6 {
            font-size: $fs-footer-s;
        }
    }


    /* ***** main bio ***** */   
    .bio .container {
        p {
            font-size: $fs-p-xs;
        }

        img {
            height: 320px;
        }
    }


    /* ***** icon-nav merch ***** */   
    .icon-nav {
        .bi-person-circle {
            font-size: $fs-icons-s;
        }
    
        .bi-cart3 {
            font-size: $fs-icons-s;
        }
    
        .bi-heart-fill {
            font-size: $fs-icons-s;
        }
    }

 
    /* ***** main contact ***** */   
    .contact {
        .container label {
            font-size: $fs-label-s;
        }
    }


    /* ***** main tour ***** */   
    .parallax-caption h1 {
        font-family: $font-h3;
        font-size: $fs-title-s;
    }

    .tour__content {
        .parallax {
            height: 20rem;
        }

        thead {
            font-size: $fs-p-m;
        }

        tbody {
            font-size: $fs-p-xs;
        }
    }

    .tour__nav a {
        font-size: $fs-navbar-s;
        transition: $transition;

        &:hover {
            color: $secondary;
        }
    }
}



@media (min-width: 350px) and (max-width: 524px) {
    /* ***** header ***** */
    .navbar-nav {
        font-size: $fs-navbar-m;
    }

    .nav-link {
        margin: 5px 0px 5px 25px;
        padding: 10px;
    }


    /* ***** main titles ***** */
    main h1 {
        font-size: $fs-title-s;
    }


    /* ***** main index ***** */
    .artist {
        height: 85vh;

        .videobg {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
        }
    }

    .artist__presentation img {
        margin-bottom: 35px;
    }

    .artist__content {
        font-size: medium;
    }



    /* ***** footer ***** */
    footer {
        .fa-brands {
            font-size: $fs-icons-m;
            margin-bottom: 30px;
        }
    
        .map__responsive iframe {
            width: 70%;
            height: auto;
            margin-bottom: 25px;
        }
    
        .socialBar h5 {
            font-size: $fs-footer-m;
        }
    
        .map h5 {
            font-size: $fs-footer-m;
        }
    
        .copyright h6 {
            font-size: $fs-footer-s;
        }
    }



    /* ***** main music&video ***** */
    .musicAndVideo__spotify {
        width: 75%;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }



    /* ***** main bio ***** */   
    .bio .container {
        p {
            font-size: $fs-p-s;
        }

        img {
            height: 350px;
        }
    }


    /* ***** icon-nav merch ***** */   
    .icon-nav {
        .bi-person-circle {
            font-size: $fs-icons-s;
        }
    
        .bi-cart3 {
            font-size: $fs-icons-s;
        }
    
        .bi-heart-fill {
            font-size: $fs-icons-s;
        }
    }


    /* ***** main contact ***** */   
    .contact {
        .container label {
            font-size: $fs-label-s;
        }
    }


    /* ***** main tour ***** */   
    .parallax-caption h1 {
        font-family: $font-h3;
        font-size: $fs-title-m;
    }

    .tour__content {
        .parallax {
            height: 23rem;
        }

        thead {
            font-size: $fs-p-m;
        }

        tbody {
            font-size: $fs-p-s;
        }
    }

    .tour__nav a {
        font-size: $fs-navbar-s;
        transition: $transition;

        &:hover {
            color: $secondary;
        }
    }
}


@media (min-width: 524px) and (max-width: 767px) {

    /* ***** header ***** */
    .navbar-nav {
        font-size: $fs-navbar-m;
    }

    .nav-link {
        margin: 5px 0px 5px 25px;
        padding: 10px;
    }


    /* ***** main titles ***** */
    main h1 {
        font-size: $fs-title-m;
    }    

    /* ***** main index ***** */
    .artist {
        height: 50vh;

        .videobg {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
        }
    }
        

    /* ***** footer ***** */
    footer {
        .fa-brands {
            font-size: $fs-icons-m;
            margin-bottom: 30px;
        }
    
        .map__responsive iframe {
            width: 70%;
            height: auto;
            margin-bottom: 25px;
        }
    
        .socialBar h5 {
            font-size: $fs-footer-l;
        }
    
        .map h5 {
            font-size: $fs-footer-l;
        }
    
        .copyright h6 {
            font-size: $fs-footer-m;
        }
    }


    /* ***** main music&video ***** */
    .carousel {
        margin: 10px;
    }

    .container .notCarousel {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .notCarousel {
        margin: 30px;
    }

    .musicAndVideo__spotify {
        width: 50%;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }


    /* ***** main bio ***** */   
    .bio .container {
        p {
            font-size: $fs-p-m;
        }

        img {
            height: 370px;
        }
    }


    /* ***** icon-nav merch ***** */   
    .icon-nav {
        .bi-person-circle {
            font-size: $fs-icons-s;
        }
    
        .bi-cart3 {
            font-size: $fs-icons-s;
        }
    
        .bi-heart-fill {
            font-size: $fs-icons-s;
        }
    }


    /* ***** main contact ***** */   
    .contact {
        .container label {
            font-size: $fs-label-m;
        }
    }


    /* ***** main tour ***** */   
    .parallax-caption h1 {
        font-family: $font-h3;
        font-size: $fs-title-m;
    }

    .tour__content {
        .parallax {
            height: 23rem;
        }

        thead {
            font-size: $fs-p-l;
        }

        tbody {
            font-size: $fs-p-m;
        }
    }

    .tour__nav a {
        font-size: $fs-navbar-m;
        transition: $transition;

        &:hover {
            color: $secondary;
        }
    }
}


@media (min-width: 767px) and (max-width: 991px) {

    /* ***** header ***** */
    .navbar-nav {
        font-size: $fs-navbar-m;
    }

    .nav-link {
        margin: 5px 0px 5px 25px;
        padding: 10px;
    }

    /* ***** footer ***** */
    .map__responsive iframe {
        width: 90%;
        margin-bottom: 15px;
    }

    .socialBar h5 {
        font-size: $fs-footer-xl;
    }

    .map h5 {
        font-size: $fs-footer-xl;
    }

    .copyright h6 {
        font-size: $fs-footer-l;
    }


    /* ***** main index ***** */
    .artist {
        height: 50vh;

        .videobg {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
        }
    }


    /* ***** main music&video ***** */
    .musicAndVideo .carousel-caption {
        h5 {
            font-size: $fs-h5-m;
            font-weight: bold;
        }
        p {
            font-size: $fs-p-m;
        }
    }

    
    /* ***** main bio ***** */   
    .bio .container {
        p {
            font-size: $fs-p-m;
        }

        img {
            height: 370px;
        }
    }


    /* ***** icon-nav merch ***** */   
    .icon-nav {
        .bi-person-circle {
            font-size: $fs-icons-m;
        }
    
        .bi-cart3 {
            font-size: $fs-icons-m;
        }
    
        .bi-heart-fill {
            font-size: $fs-icons-m;
        }
    }


    /* ***** main contact ***** */   
    .contact {
        .container label {
            font-size: $fs-label-m;
        }
    }



    /* ***** main tour ***** */   
    .parallax-caption h1 {
         font-family: $font-h3;
        font-size: $fs-title-m;
    }

    .tour__nav a {
        font-size: $fs-navbar-m;
        transition: $transition;

        &:hover {
            color: $secondary;
        }
    }
}

@media (min-width: 991px) and (max-width: 4000px) {
    /* ***** main index ***** */
    .artist {
        min-height: 80vh;

        .videobg {
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
        }
    }

    /* ***** footer ***** */
    footer {
        position: sticky;
        top: 100%;
    }


    /* ***** main contact ***** */   
    .contact {
        min-height: 80vh;

        .container label {
            font-size: $fs-label-m;
        }
    }


    /* ***** main music&video ***** */
    .musicAndVideo {
        min-height: 80vh;

        .carousel-caption {
            min-height: 100vh;
    
            h5 {
                font-size: $fs-h5-l;
            }
            p {
                font-size: $fs-p-m;
            }
        }
    }
    
    


    /* ***** main tour ***** */   
    .parallax-caption h1 {
         font-family: $font-h3;
        font-size: $fs-title-l;
    }

    .tour__nav a {
        font-size: $fs-navbar-m;
        transition: $transition;

        &:hover {
            color: $secondary;
        }
    }


    /* ***** main bio ***** */
    .bio {
        min-height: 100vh;
    }
}