@media (min-width: 250px) and (max-width: 575px) {

    /* ***** header ***** */
    .navbar {
        font-size: $fs-navbar-m;
    }

    .nav-link {
        margin: 5px 0px 5px 25px;
        padding: 10px;
    }


    /* ***** main index ***** */
    .artist__presentation img {
        margin-bottom: 15px;
    }

    .artist__content {
        font-size: medium;
    }



    /* ***** footer ***** */
    .footer {
        font-size: 0.8em;
    }

    .fa-brands {
        margin-bottom: 35px;
    }

    .map__responsive iframe {
        width: 70%;
        height: auto;
        margin-bottom: 25px;
    }

    .socialBar h5 {
        font-size: medium;
        margin-top: -60px;
    }

    .map h5 {
        font-size: medium;
    }

    .copyright h6 {
        font-size: small;
    }

    .bi-arrow-up-circle {
        padding: 15px;
        margin: 5px;
    }


    /* ***** main music&video ***** */
    .title_musicAndVideo {
        font-size: large;
    }

    .carousel {
        margin: 10px;
    }

    .container .notCarousel {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .notCarousel {
        margin: 30px;
    }

    .musicAndVideo__spotify {
        width: 70%;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }


    /* ***** main bio ***** */
    .bio {
        height: 110vh;
    }

    .title_bio {
        font-size: 2.2rem;
    }

    .container {
        justify-content: center;
    }

    .container p {
        font-size: 0.75rem;
        letter-spacing: 1.1px;
        padding: 7px;
        margin: 15px;
    }

    .container img {
        padding: 20px;
        height: 420px;
        width: auto;
    }
}


@media (min-width: 576px) and (max-width: 767px) {

    /* ***** header ***** */
    .navbar {
        font-size: large;
    }


    /* ***** main index ***** */
    .artist__presentation img {
        margin-bottom: 15px;
    }
        

    /* ***** footer ***** */
    .footer {
        font-size: 0.9em;
    }

    .fa-brands {
        margin-bottom: 30px;
    }

    .map__responsive iframe {
        width: 80%;
        height: auto;
        margin-bottom: 25px;
    }

    .socialBar h5 {
        font-size: medium;
        margin-top: -60px;
    }

    .map h5 {
        font-size: medium;
    }

    .copyright h6 {
        font-size: small;
    }

    .bi-arrow-up-circle {
        padding: 10px;
        margin: 5px;
    }


    /* ***** main music&video ***** */
    .musicAndVideo__titulo {
        font-size: xx-large;
    }

    .carousel {
        margin: 10px;
    }

    .container .notCarousel {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .notCarousel {
        margin: 30px;
    }

    .musicAndVideo__spotify {
        width: 50%;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }


    /* ***** main bio ***** */
    .bio {
        height: 140vh;
    }

    .title_bio {
        font-size: 2.8rem;
    }

    .container p {
        font-size: 0.9rem;
        letter-spacing: 1.5px;
        padding: 10px;
        margin: 15px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    /* ***** header ***** */
    .navbar {
        font-size: larger;
    }


    /* ***** footer ***** */
    .footer {
        font-size: 1em;
    }

    .map__responsive iframe {
        width: 90%;
        margin-bottom: 15px;
    }

    .socialBar h5 {
        font-size: large;
        margin-top: -70px;
    }

    .map h5 {
        font-size: large;
        margin-top: -70px;
    }

    .copyright h6 {
        font-size: medium;
    }

    .bi-arrow-up-circle {
        padding: 20px;
        margin: 5px;
    }


    /* ***** main music&video ***** */
    .carousel {
        margin: 20px;
    }

    .musicAndVideo__spotify iframe {
        margin-bottom: 30px;
    }

    
    /* ***** main bio ***** */
    .bio {
        height: 100vh;
    }

    .container img {
        height: 485px;
        width: auto;
    }

    .container p {
        font-size: 0.9em;
        letter-spacing: 1.5px;
    }
}