$body-font: 'Manrope', sans-serif;
$navbar-fontsize: 1.3em;
$logo-height: 6em;
$box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.966);
$white-letter: #f0f0f0;
$footer-fontsize: 1.1em;
$socialbar-size: 2em;
$title-font: 'Oswald', sans-serif;
$title-fontsize: 3.5rem;
$title-margin: 60px 10px 20px 10px;