//COLORS
$_white: #fff;
$_black: #000000;
$_cod-gray: #181818;
$_gray: #302e2eaf;
$_goldenrod: #daa520;

$background-gray: $_gray;
$background-dark-color: $_cod-gray;
$background-darker-color: $_black;

$letter-white: $_white;
$letter-black: $_black;
$letter-gold: $_goldenrod;

$shadow: $_cod-gray;


//TYPOGRAPHY
$font-body: 'Manrope', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-h3: 'Poiret One', cursive;
$font-q: 'Noto Serif Display', serif;

//Typography scale
$fs-base: 16;

$_fs-9: 9 / $fs-base + rem;
$_fs-12: 12 / $fs-base + rem;
$_fs-14: 14 / $fs-base + rem;
$_fs-19: 19 / $fs-base + rem;
$_fs-25: 25 / $fs-base + rem;
$_fs-33: 33 / $fs-base + rem;
$_fs-44: 44 / $fs-base + rem;
$_fs-55: 55 / $fs-base + rem;

//Typography applications
$fs-title-l: $_fs-55;
$fs-title-m: $_fs-44;
$fs-icons: $_fs-33;
$fs-h3: $_fs-25;
$fs-navbar-l: $_fs-25;
$fs-navbar-m: $_fs-19;
$fs-q: $_fs-19;
$fs-p: $_fs-19;
$fs-a: $_fs-19;
$fs-footer: $_fs-14;
$fs-btn: $_fs-12;


//BOX
$box-shadow: 0px 5px 10px $shadow;


//TRANSITION
$transition: all .4s ease-in-out;


//MARGIN
$margin: 60px 10px 20px 10px;