//COLORSs
$_tyrian-purple: #800040;
$_cod-gray: #1e1e20ff;
$_light-gray: #E0E0E0;
$_white: #fff;
$_black: #000;

$primary: $_cod-gray;
$dark: rgb(24, 24, 26);
$secondary: $_tyrian-purple;
$letter-white: $_white;
$letter-black: $_black;


//TYPOGRAPHY
$font-body: 'Manrope', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-h3: 'Poiret One', cursive;
$font-q: 'Poiret One', serif;

//Typography scale
$fs-base: 16;

$_fs-9: 9 / $fs-base + rem;
$_fs-12: 12 / $fs-base + rem;
$_fs-14: 14 / $fs-base + rem;
$_fs-19: 19 / $fs-base + rem;
$_fs-25: 25 / $fs-base + rem;
$_fs-30: 30 / $fs-base + rem;
$_fs-33: 33 / $fs-base + rem;
$_fs-44: 44 / $fs-base + rem;
$_fs-55: 55 / $fs-base + rem;

//Typography applications
$fs-title-l: $_fs-55;
$fs-title-m: $_fs-44;
$fs-title-s: $_fs-33;
$fs-title-xs: $_fs-25;
$fs-label-m: $_fs-25;
$fs-label-s: $_fs-19;
$fs-icons-m: $_fs-33;
$fs-icons-s: $_fs-25;
$fs-h3: $_fs-25;
$fs-h5-l: $_fs-25;
$fs-h5-m: $_fs-19;
$fs-navbar-m: $_fs-19;
$fs-navbar-s: $_fs-14;
$fs-q: $_fs-19;
$fs-p-l: $_fs-19;
$fs-p-m: $_fs-14;
$fs-p-s: $_fs-12;
$fs-p-xs: $_fs-9;
$fs-a: $_fs-19;
$fs-footer-xl: $_fs-19;
$fs-footer-l: $_fs-14;
$fs-footer-m: $_fs-12;
$fs-footer-s: $_fs-9;
$fs-btn: $_fs-12;


//BOX
$box-shadow: 0px 5px 10px $_cod-gray;


//TRANSITION
$transition: all .4s ease-in-out;


//MARGIN
$margin: 60px 10px 20px 10px;