.musicAndVideo {
    background-image: url(../img/fondo.jpg);
    width: 100%;
    background-position: center top;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    .notCarousel {
        margin: 15px;
    }
}