/* ****************** FOOTER ****************** */

footer {
    color: $letter-white;
    font-size: $fs-footer-xl;
    padding: 20px;
    width: 100%;
    bottom: 0;

    iframe {
        width: 100%;
        height: auto;
    }

    h6 {
        font-size: $fs-footer-l;
    }
}

/* *********** HACIENDO USO DE MAP *********** */
$redes: (soundcloud: #ff7700de, spotify: #1ccc5ada, youtube: #c4302bde, instagram: #dd2a7bce, facebook: #3b5999de);

/* Bucle para usar los valores de map */
@each $red, $color in $redes {
    .btn--#{$red} {
        color: $color;
    }
}