h1 {
    font-family: $font-title;
    font-size: $fs-title-l;
    font-weight: bold;
    color: $letter-white;
    margin: $margin;
    justify-content: center;
    align-items: center;
    display: flex;
}